/*------------Header------------*/
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 100px 50px;
}

.header__menu {
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 30px;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active .header__link {
    text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  max-width: 240px;
  font-size: 18px;
  line-height: 24px;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
}

/*------------Cover------------*/
.cover {
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 757px;
}

.cover__title {
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    height: 100%;
    padding: 165px 50px 207px 50px;
    background-color: rgba(0, 0, 0, 0.6);    
}

.accent-span {
    display: block;
    line-height: 1.5; 
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}