/*------------Header------------*/
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 100px 50px;
}

.header__menu {
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 30px;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active .header__link {
    text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  max-width: 240px;
  font-size: 18px;
  line-height: 24px;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
}

/*------------Cover------------*/
.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 757px;
    display: flex;
    flex-direction: column;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.cover__title {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  padding: 165px 50px 106px 50px;
  z-index: 1;
  box-sizing: border-box;
}

.aligned-text {
  display: block;
}

.cover__title-text_center {
  padding-top: 12px;
}

.cover__title-text_right {
  padding-top: 24px;
}

.aligned-text_left {
  text-align: left
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  color: #fff;
  padding: 0 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  z-index: 1;  
}

.cover__description-text {
  word-spacing: 18px;
  font-style: normal;
  text-transform: uppercase;
  align-self: center;
}

.bet-button {
  color: #fff;
  width: 256px;
  height: 51px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
}

/*------------Lots------------*/

.lots {
  padding: 180px 24px 100px 24px;
  min-height: 723px;
}

.lots__heading {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  margin-left: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 27px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  position: relative;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card__title {
  color: #fff;
  z-index: 1;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin: 48px 40px 0 40px;
}

.card__text {
  color: #fff;
  z-index: 1;
  margin: 0 40px 48px 40px;
  font-size: 20px;
  line-height: 120%;  
}

.lots__look-more-link {
  display: block;
  padding-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;   
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;   
}

/*------------About------------*/

.about {
  display: grid;
  grid-template-columns: 334px auto;
  padding: 54px 24px 180px 24px;
  min-height: 595px;
  align-items: start;
  gap: 24px;
}

.about__logo-column {
  justify-self: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;  
}

.about__column {
  padding-top: 101px; 
}

.about__title {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text {
  font-size: 20px;
  line-height: 120%;
}

/*------------Footer------------*/
